@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins", serif;
  }

body {
    background-color: #031057;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0  0.5rem;
    max-width: 1200px;

 }

 .navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
 }

 .navigation a {
    text-decoration: none;
    color: #eeeeee;
 }

  .navigation a:hover {
    color: hwb(180 0% 4%);
 }

 hr {
    opacity: 10%  ;
 }

 .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
 }

